/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/*IMPORTS*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: var(--Stone-600);
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 7%;
}
li::marker {
  color: var(--Rose-800);
  font-size: 0.5rem;
}
ul {
  list-style-position: inside;
}
section > h2 {
  color: var(--Brown-800);
  font-weight: 600;
  font-size: 2rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--White);
  height: max-content;
  width: 62dvw;
  padding: 3%;
  border-radius: 20px;
  gap: 15px;
}
#image-container {
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  
  h1 {
    font-weight: 500;
    font-size: 32px;
    text-wrap: pretty;
    color: black;
    font-family: 'Young Serif', serif;
  }
  p {
    text-wrap: pretty;
    font-weight: 400;
    font-size: 14px;
  }
}
.same-title {
  font-family: 'Young Serif', serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.same-list {
  gap: 10px;
}
.same-element {
  font-size: 0.8rem;
  padding-block: 1%;
  padding-left: 1%;
}
#preparation {
  background-color: var(--Rose-50);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: max-content;
  width: 100%;
  padding: 5%;
  gap: 10px;
  .preparation--title {
    color: var(--Rose-800);
    font-size: 1rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1%;
    gap: 10px;
    li {
      font-size: 0.8rem;
    }
  }
}

#ingredients {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  gap: 10px;
  padding-bottom: 4%;
  border-bottom: 1px solid var(--Stone-150);
}
.ingredients-list {
  gap: 10px;
}
.ingredients-list--element {
  font-size: 0.8rem;
  padding-block: 1%;
  padding-left: 1%;
  &::marker {
    color: var(--Brown-800);
  }
}

#instructions {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  gap: 0px;
  padding-bottom: 4%;
  border-bottom: 1px solid var(--Stone-150);
}

.instruction-list {
  padding-left: 3%;
}

.instructions-list--element {
  &::marker {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

#nutritions {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  gap: 0px;
}

.nutritions-p {
  font-size: 0.8rem;
    font-weight: 500;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--Stone-150);
  th {
    width: 50%;
    display: flex;
    align-items: center;
    padding-block: 2%;
    padding-inline: 5%;
    justify-content: flex-start;
    font-size: 0.8rem;
    &:nth-child(1) {
      font-weight: 500;
    }
    &:nth-child(2) {
      color: var(--Brown-800);
    }
  }
}